body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    height: 100vh;
}

header {
    background-color: #25313F;
    background-image: transparent url('header_pattern_image.png') 0% 0% no-repeat padding-box;;
}

header nav {
    padding: 0.438rem 1.5rem;
}

header nav img {
    height: 2.25rem;
}

.container {
    height: calc(100vh - 3.5rem - 4.625rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EEEEEE 0% 0% no-repeat padding-box;
}

.inner-container {
    width: 30.5rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
}

.border {
    height: 0.25rem;
    background: #3AC7EC 0% 0% no-repeat padding-box;
    border-radius: 2px 2px 0px 0px;
}

.arrow {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

.arrow a img {
    top: 0rem;
    height: 1.625rem;
    margin-inline-start: -6.5rem;
}

.radio-option {
    margin-top: 2.125rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.radio-option input {
    height: 1.5rem;
    width: 1.25rem;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
    accent-color: #1F7A54;
}

#independent {
    margin-left: 2rem;
}

.state, .district {
    margin-top: 1.625rem;
    font-size: 1rem;
}

.state-label, .district-label {
    display: block;
    font-size: 0.75rem;
    color: #666666;
    margin-left: 1.5rem;
}

#state-name, #district-name {
    border: none;
    display: flex;
    width: 95%;
    border-bottom: 1px solid #dddada;
    margin: 0.375rem 0rem;
    appearance: none;
    cursor: pointer;
}

.state-label img {
    position: absolute;
    top: 20.5rem;
    left: 72.5rem;
    cursor: pointer;
}

.district-label img {
    position: absolute;
    top: 24.5rem;
    left: 72.5rem;
    cursor: pointer;
}

.username, .password {
    margin-top: 3.5rem;
}

#username, #password {
    border: none;
    display: block;
    width: 90%;
    font-size: 1rem;
    border-bottom: 1px solid #dddada;
    margin: 0.375rem 1.5rem;
}

.forgot-username, .forgot-password {
    text-align: right;
    margin-block-start: 0%;
    margin-right: 1rem;
}

.forgot-username a, .forgot-password a {
    font-size: 0.875rem;
    text-decoration: none;
    color: #1F7A54;
}

.password img {
    position: absolute;
    top: 35.7rem;
    left: 72rem;
    cursor: pointer;
}

.remember {
    margin-top: 1.625rem;
    margin-left: 1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

#remember {
    width: 1.125rem;
    height: 1.5rem;
    accent-color: #1F7A54;
    margin-right: 0.375rem;
}

.login {
    display: flex;
    justify-content: center;
}

.login button {
    margin-top: 2.125rem;
    margin-bottom: 1.5rem;
    width: 13.5rem;
    height: 2.5rem;
    background-color: #3FD28B; 
    border: none;
    box-shadow: 0px 3px 5px #0000003D;
    border-radius: 2px;
    cursor: pointer;
}

.nav {
    background: #EEEEEE 0% 0% no-repeat padding-box;
    height: 2.125rem;
    text-align: center;
}

.about {
    border-right: 0.05rem solid #0000001F;
    padding-right: 0.25rem;
}

.contact {
    border-left: 0.05rem solid #0000001F;
    padding-left: 0.5rem;
}

footer .nav a {
    font-size: 0.875rem;
    text-decoration: none;
    color: #1F7A54;
}

.container-footer {
    background: #E0E1E1 0% 0% no-repeat padding-box;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    color: #616161;
}

.container-footer img {
    margin: 0 0.25rem;
    border-right: 0.125rem solid #0000001F;
    padding-right: 0.5rem;
}

.copyright {
    margin: 0 0.25rem;
}

.zeus {
    margin: 0 0.25rem;
}

.rights {
    margin: 0 0.25rem;
}
